.container-user {
    width: 80%;
	max-width: 650px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    gap: 20px;
}

.identificacao-user {
    display: flex;
    flex-direction: column;
    justify-content: spac;
}

.nome {
    font-family: Questrial;
    font-size: 24px;
    color: #76BB4C;
}

img {
    height: 90px;
    width: 90px;
}

#botao-user {
    font-family: 'Questrial';
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #76BB4C;
	background: #76BB4C;
	border-radius: 30px;
    width: 100%;
    max-width: 90px;
    height: 30px;
    padding: 0 0 0 0;
}